In [1]:
import pandas as pd

In [4]:
flavors_df = pd.read_csv("datasets/Flavors.csv")
flavors_df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [7]:
# Groupby Base Flavor and get mean rating
base_flavor_groupby = flavors_df.groupby('Base Flavor')
base_flavor_groupby.mean()

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [8]:
# Get count of rows in each group
base_flavor_groupby.count()

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate         3      3              3               3             3
Vanilla           6      6              6               6             6

In [9]:
# Perform multiple aggregations on single series
base_flavor_groupby.agg({'Total Rating': ['min','max','mean']})

            Total Rating
                     min   max   mean
Base Flavor
Chocolate           15.2  16.6  15.70
Vanilla              5.7  18.0  11.35

In [11]:
# Group by Base Flavor and Liked and get the mean ratings
flavors_df.groupby(['Base Flavor','Liked']).mean()

                   Flavor Rating  Texture Rating  Total Rating
Base Flavor Liked
Chocolate   Yes              8.4        7.233333     15.700000
Vanilla     No               3.6        4.466667      8.066667
            Yes              7.8        6.833333     14.633333